In [1]:
import pandas as pd

In [3]:
pd.read_excel(r"C:\Users\91821\Desktop\DATA.1.xlsx")

   NAME     BATCH        MOBIE ADRESSS
0  VIVEK  PYTH 001   975312678   DELHI
1   JIYA  PYTH 002  9977425799    CHAS
2  BAABA  PYTH 001  9876532566   NODIA

In [ ]:
_